<div class = "container">
  <div class = "row">
    <div class = "mx-auto col-md-offset-3 col-md-6">
      <p id="notice">
      <%= notice %>
      </p>
      <h1>welcome to
      <i class = "fas fa-book"></i>
      <strong>Bookers</strong>
      </h1>
      <div>
        <p>In
        <i class = "fas fa-book"></i>
        bookers</p>
      </div>
      <div>
        <p>you can share and exchange your opinions , inpressions , and emotions　</br>about various books!</p>
      </div>
      <div><%= link_to 'Log in', user_session_path, class: "btn btn-info btn-sm btn-block mb-3" %></div>
      <div><%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success btn-sm btn-block"  %></div>
    </div>
  </div>
</div>
